{{!< default}}

{{! Edit the href="your/link/url" and replace "your/link/url" with the url to your profile page for the specific social network }}

<a href="your/link/url" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a>
<a href="your/link/url" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
<a href="your/link/url" target="_blank" class="flickr"><i class="fa fa-flickr"></i></a>
<a href="your/link/url" target="_blank" class="google"><i class="fa fa-google-plus"></i></a>
<a href="your/link/url" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
<a href="your/link/url" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
<a href="your/link/url" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a>
<a href="your/link/url" target="_blank" class="skype"><i class="fa fa-skype"></i></a>
<a href="your/link/url" target="_blank" class="tumblr"><i class="fa fa-tumblr"></i></a>
<a href="your/link/url" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
<a href="your/link/url" target="_blank" class="vimeo"><i class="fa fa-vimeo-square"></i></a>
<a href="your/link/url" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
