{{!< default}}

<section id="social-twitter" data-twitter-id="408696427557052416">
    <span class="social-twitter-icon"><i class="fa fa-twitter"></i></span> 
    <div id="social-twitter-tweet"></div>
    <div class="clearfix"></div>
</section>
